In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("movies_dataset.csv")

In [3]:
df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/e4OnHU8HNAhdS6C4Ypk6NA26kPQ.jpg,"[28, 35, 80]",1168190,en,The Wrecking Crew,Estranged half-brothers Jonny and James reunit...,673.3304,/gbVwHl4YPSq6BcC92TQpe7qUTh6.jpg,2026-01-28,The Wrecking Crew,False,6.741,346
1,False,/tyjXlexbNZQ0ZT1KEJslQtBirqc.jpg,"[12, 53, 878]",840464,en,Greenland 2: Migration,Having found the safety of the Greenland bunke...,624.2323,/1mF4othta76CEXcL1YFInYudQ7K.jpg,2026-01-07,Greenland 2: Migration,False,6.472,301
2,False,/5h2EsPKNDdB3MAtOk9MB9Ycg9Rz.jpg,"[16, 35, 12, 10751, 9648]",1084242,en,Zootopia 2,After cracking the biggest case in Zootopia's ...,340.0179,/oJ7g2CifqpStmoYQyaLQgEU32qO.jpg,2025-11-26,Zootopia 2,False,7.630,1506
3,False,/4BtL2vvEufDXDP4u6xQjjQ1Y2aT.jpg,"[28, 80, 18, 53]",1419406,zh,捕风追影,Macau Police brings the tracking expert police...,320.1332,/e0RU6KpdnrqFxDKlI3NOqN8nHL6.jpg,2025-08-16,The Shadow's Edge,False,7.200,394
4,False,/tNONILTe9OJz574KZWaLze4v6RC.jpg,"[9648, 53]",1368166,en,The Housemaid,"Trying to escape her past, Millie Calloway acc...",312.9548,/yXGM0cg3mPZlB2kJkFVJo1crrWs.jpg,2025-12-18,The Housemaid,False,7.100,691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,NaN,"[10749, 18]",451405,en,Love Street,This is the feature pilot to the Showtime soft...,4.2217,/2ni5NWkD1wBG3l8qvck0mCjcbFV.jpg,1994-06-15,Love Street,False,2.667,3
9996,False,/dz0p1gSQkqauRsFi0rF32pXDY4w.jpg,"[35, 18, 10749]",239030,de,Love Steaks,"Clemens works as a masseur, Lara as a cook, bu...",6.2075,/lohnIBxV3n4GlHo4sGEYfqQiR69.jpg,2014-03-27,Love Steaks,False,5.200,76
9997,False,NaN,[],566723,en,Aeris,"""A young couple struggles to save the life of ...",7.4839,/2p5BF8RxbTz8gooqaL9Et47GPkq.jpg,2018-02-05,Aeris,False,0.000,0
9998,False,/rien0JIthKGopmZjSmWID9gUHCC.jpg,"[99, 35]",37299,en,Fired!,When actress Annabelle Gurwitch was fired from...,7.0521,/dWLzkKIkR8MMVTqKvfLFaKDP9ly.jpg,2007-06-05,Fired!,False,6.000,8
9999,False,NaN,"[18, 35]",847371,te,గోల్‌మాల్ గోవిందం,"A trickster blackmails a trio of men, all of w...",7.6945,NaN,1992-02-08,Golmaal Govindam,False,8.000,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   backdrop_path      7023 non-null   object
 2   genre_ids          10000 non-null  object
 3   id                 10000 non-null  int64
 4   original_language  10000 non-null  object
 5   original_title     10000 non-null  object
 6   overview           9650 non-null   object
 7   popularity         10000 non-null  float64
 8   poster_path        9242 non-null   object
 9   release_date       9852 non-null   object
 10  title              10000 non-null  object
 11  video              10000 non-null  bool
 12  vote_average       10000 non-null  float64
 13  vote_count         10000 non-null  int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 957.2+ KB

In [8]:
df=df.drop(["adult","backdrop_path","original_title","poster_path","video",],axis=1)

In [14]:
df = df.dropna()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9520 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          9520 non-null   object
 1   id                 9520 non-null   int64
 2   original_language  9520 non-null   object
 3   overview           9520 non-null   object
 4   popularity         9520 non-null   float64
 5   release_date       9520 non-null   object
 6   title              9520 non-null   object
 7   vote_average       9520 non-null   float64
 8   vote_count         9520 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 743.8+ KB

In [16]:
df

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count
0,"[28, 35, 80]",1168190,en,Estranged half-brothers Jonny and James reunit...,673.3304,2026-01-28,The Wrecking Crew,6.741,346
1,"[12, 53, 878]",840464,en,Having found the safety of the Greenland bunke...,624.2323,2026-01-07,Greenland 2: Migration,6.472,301
2,"[16, 35, 12, 10751, 9648]",1084242,en,After cracking the biggest case in Zootopia's ...,340.0179,2025-11-26,Zootopia 2,7.630,1506
3,"[28, 80, 18, 53]",1419406,zh,Macau Police brings the tracking expert police...,320.1332,2025-08-16,The Shadow's Edge,7.200,394
4,"[9648, 53]",1368166,en,"Trying to escape her past, Millie Calloway acc...",312.9548,2025-12-18,The Housemaid,7.100,691
...,...,...,...,...,...,...,...,...,...
9995,"[10749, 18]",451405,en,This is the feature pilot to the Showtime soft...,4.2217,1994-06-15,Love Street,2.667,3
9996,"[35, 18, 10749]",239030,de,"Clemens works as a masseur, Lara as a cook, bu...",6.2075,2014-03-27,Love Steaks,5.200,76
9997,[],566723,en,"""A young couple struggles to save the life of ...",7.4839,2018-02-05,Aeris,0.000,0
9998,"[99, 35]",37299,en,When actress Annabelle Gurwitch was fired from...,7.0521,2007-06-05,Fired!,6.000,8
9999,"[18, 35]",847371,te,"A trickster blackmails a trio of men, all of w...",7.6945,1992-02-08,Golmaal Govindam,8.000,1

In [24]:
df["original_language"].unique()

array(['en', 'zh', 'hi', 'de', 'te', 'ko', 'ja', 'th', 'fr', 'ta', 'tl',
       'pt', 'fi', 'es', 'ml', 'id', 'tr', 'it', 'kn', 'no', 'ru', 'ms',
       'sr', 'ca', 'nl', 'da', 'cn', 'sv', 'lv', 'el', 'hu', 'pl', 'is',
       'sl', 'cs', 'ro', 'hr', 'bs', 'uk', 'ar', 'bn', 'sh', 'sk', 'eu',
       'et', 'fa', 'xx', 'pa', 'sq', 'af', 'ne', 'ku', 'yi', 'mr', 'zu',
       'bg', 'ur', 'he', 'ab', 'mk', 'lt', 'jv', 'az', 'hy', 'cy', 'vi',
       'mn', 'ga', 'gu', 'as', 'qu', 'xh', 'wo'], dtype=object)