# Cleaning Data

In [1]:
import pandas as pd
import numpy as np
import ast

In [92]:
df = pd.read_csv("movies_dataset.csv")

In [93]:
# df

In [94]:
# df.info()

In [95]:
df=df.drop(["adult","backdrop_path","original_title","poster_path","video","vote_count","popularity","vote_average"],axis=1)

In [96]:
df = df.dropna()

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9520 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          9520 non-null   object
 1   id                 9520 non-null   int64
 2   original_language  9520 non-null   object
 3   overview           9520 non-null   object
 4   release_date       9520 non-null   object
 5   title              9520 non-null   object
dtypes: int64(1), object(5)
memory usage: 520.6+ KB

In [98]:
df

,genre_ids,id,original_language,overview,release_date,title
0,"[28, 35, 80]",1168190,en,Estranged half-brothers Jonny and James reunit...,2026-01-28,The Wrecking Crew
1,"[12, 53, 878]",840464,en,Having found the safety of the Greenland bunke...,2026-01-07,Greenland 2: Migration
2,"[16, 35, 12, 10751, 9648]",1084242,en,After cracking the biggest case in Zootopia's ...,2025-11-26,Zootopia 2
3,"[28, 80, 18, 53]",1419406,zh,Macau Police brings the tracking expert police...,2025-08-16,The Shadow's Edge
4,"[9648, 53]",1368166,en,"Trying to escape her past, Millie Calloway acc...",2025-12-18,The Housemaid
...,...,...,...,...,...,...
9995,"[10749, 18]",451405,en,This is the feature pilot to the Showtime soft...,1994-06-15,Love Street
9996,"[35, 18, 10749]",239030,de,"Clemens works as a masseur, Lara as a cook, bu...",2014-03-27,Love Steaks
9997,[],566723,en,"""A young couple struggles to save the life of ...",2018-02-05,Aeris
9998,"[99, 35]",37299,en,When actress Annabelle Gurwitch was fired from...,2007-06-05,Fired!
9999,"[18, 35]",847371,te,"A trickster blackmails a trio of men, all of w...",1992-02-08,Golmaal Govindam

In [99]:
df.duplicated().sum()

np.int64(1841)

In [100]:
df = df.drop_duplicates()

In [101]:
genres = [{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [102]:
ast.literal_eval(df['genre_ids'].iloc[1])[0]

12

In [103]:
type(genres[0]['name'])

str

In [104]:
def convert(obj,genre=genres):
    l = []
    for i in ast.literal_eval(obj):
        for j in range(len(genre)):
            if i == genre[j]['id']:
                l.append(genre[j]['name'])
    return l

In [105]:
convert(df['genre_ids'].iloc[1],genres)

['Adventure', 'Thriller', 'Science Fiction']

In [106]:
df.loc[:,'genre_ids']= df['genre_ids'].apply(convert)

In [107]:
 df.loc[:,'overview']=df['overview'].apply(lambda x : x.split())

In [110]:
df.sample(10)

,genre_ids,id,original_language,overview,release_date,title
4634,"[Crime, Action]",312121,en,"[A, CIA, operative, in, Hong, Kong, must, beco...",1985-01-01,Ninja Assassins
1379,"[Animation, Comedy, Family, Fantasy]",567811,en,"[A, pampered, cat, takes, for, granted, the, l...",2024-04-18,10 Lives
7555,[Crime],796419,de,"[A, young, Anglican, clergyman, gets, on, the,...",1973-01-23,Endstation
9872,[Drama],581475,en,"[Fed, up, with, her, deadbeat, grown, kids, an...",2019-03-08,Juanita
3099,[Drama],186477,en,"[While, Rafe, Anchors, longs, to, marry, the, ...",1963-01-01,Shotgun Wedding
296,"[Crime, Thriller]",1171145,en,"[When, an, elusive, thief, whose, high-stakes,...",2026-02-09,Crime 101
1662,"[Drama, Thriller]",726888,fr,"[When, Elina,, a, young, aspiring, rapper, for...",2022-11-04,Heartbeast
750,"[Romance, Drama]",1522377,tr,"[Twenty-one, years, after, a, magical, meeting...",2025-11-24,Two Worlds One Wish
7796,"[Comedy, Music, War]",29601,en,"[Petty, con, artists, Slicker, Smith, and, Her...",1941-01-31,Buck Privates
3324,"[Crime, Drama]",270927,id,"[Dilemma, is, an, omnibus, film,, five, storie...",2012-02-23,Dilema

In [109]:
df.to_csv('mid_stage.csv',index=False)

# Adding New Features

In [1]:
import pandas as pd
import numpy as np
import requests

In [3]:
from concurrent.futures import ThreadPoolExecutor, as_completed

In [46]:
headers = {
    "accept": "application/json",
    "Authorization": "YOUR_TOKEN"
}

In [5]:
def list_countries(obj):
    L=[]
    for i in obj:
        L.append(i['name'])
    return L
def list_keywords(obj):
    L=[]
    for i in obj:
        L.append(i['name'])
    return L
def list_cast(obj):
    L=[]
    for i in obj[:4]:
        L.append(i['name'])
    return L
# def additional_info(movie_id):
#     url = f"https://api.themoviedb.org/3/movie/{movie_id}"
#     params = {"append_to_response": "credits,keywords"}
#     response = requests.get(url, headers=headers, params=params)
#     data = response.json()
#     production_countries = list_countries(data['production_countries'])
#     cast = list_cast(data['credits']['cast'])
#     keywords = list_keywords(data['keywords']['keywords'])
#     return production_countries, cast, keywords
# def additional_info(movie_id):
#     url = f"https://api.themoviedb.org/3/movie/{movie_id}"
#     params = {"append_to_response": "credits,keywords"}

#     response = requests.get(url, headers=headers, params=params)

#     if response.status_code != 200:
#         return [], [], []

#     data = response.json()

#     production_countries = list_countries(data.get('production_countries', []))
#     cast = list_cast(data.get('credits', {}).get('cast', []))
#     keywords = list_keywords(data.get('keywords', {}).get('keywords', []))

#     return production_countries, cast, keywords
def additional_info(movie_id):
    try:
        url = f"https://api.themoviedb.org/3/movie/{movie_id}"
        params = {"append_to_response": "credits,keywords"}
        response = requests.get(url, headers=headers, params=params, timeout=10)
        if response.status_code != 200:
            return [], [], []
        data = response.json()
        production_countries = list_countries(data.get('production_countries', []))
        cast = list_cast(data.get('credits', {}).get('cast', []))
        keywords = list_keywords(data.get('keywords', {}).get('keywords', []))
        return production_countries, cast, keywords
    except:
        return [], [], []

In [6]:
df = pd.read_csv('mid_stage.csv')

In [7]:
additional_info(1368166)

(['United States of America'],
 ['Sydney Sweeney', 'Amanda Seyfried', 'Brandon Sklenar', 'Michele Morrone'],
 ['based on novel or book',
  'psychological thriller',
  'housekeeper',
  'attic',
  'housemaid',
  'adaptation',
  'mystery',
  'suspense thriller',
  'intense'])

In [8]:
# df[['production_countries', 'cast', 'keywords']] = df['id'].apply(
#     lambda x: pd.Series(additional_info(x))
# )

In [10]:
MAX_WORKERS = 10

with ThreadPoolExecutor(max_workers=MAX_WORKERS) as executor:
    results = list(executor.map(additional_info, df['id']))

df[['production_countries', 'cast', 'keywords']] = pd.DataFrame(results)

In [11]:
df

,genre_ids,id,original_language,overview,release_date,title,production_countries,cast,keywords
0,"['Action', 'Comedy', 'Crime']",1168190,en,"['Estranged', 'half-brothers', 'Jonny', 'and',...",2026-01-28,The Wrecking Crew,"[United States of America, Canada]","[Dave Bautista, Jason Momoa, Temuera Morrison,...","[reunion, helicopter chase, brother brother re..."
1,"['Adventure', 'Thriller', 'Science Fiction']",840464,en,"['Having', 'found', 'the', 'safety', 'of', 'th...",2026-01-07,Greenland 2: Migration,"[United Kingdom, United States of America]","[Gerard Butler, Morena Baccarin, Roman Griffin...","[natural disaster, shelter, survival, disaster..."
2,"['Animation', 'Comedy', 'Adventure', 'Family',...",1084242,en,"['After', 'cracking', 'the', 'biggest', 'case'...",2025-11-26,Zootopia 2,"[United States of America, Canada]","[Ginnifer Goodwin, Jason Bateman, Ke Huy Quan,...","[snake, bunny, fox, cop, sequel, anthropomorph..."
3,"['Action', 'Crime', 'Drama', 'Thriller']",1419406,zh,"['Macau', 'Police', 'brings', 'the', 'tracking...",2025-08-16,The Shadow's Edge,"[China, Hong Kong]","[Jackie Chan, Zhang Zifeng, Tony Leung Ka-fai,...",[excited]
4,"['Mystery', 'Thriller']",1368166,en,"['Trying', 'to', 'escape', 'her', 'past,', 'Mi...",2025-12-18,The Housemaid,[United States of America],"[Sydney Sweeney, Amanda Seyfried, Brandon Skle...","[based on novel or book, psychological thrille..."
...,...,...,...,...,...,...,...,...,...
7674,"['Comedy', 'Drama']",684689,en,"['In', '1994,', 'a', 'closeted', 'teen', 'stru...",2024-07-01,Dramarama,[United States of America],"[Megan Suri, Nico Greetham, Anna Grace Barlow,...","[lgbt, gay theme]"
7675,"['Drama', 'War', 'History']",523580,en,"['Just', 'outside', 'Belfast', 'in', '1974,', ...",2018-07-14,Night Shadows,"[Ireland, United Kingdom]","[Tom Sharp, Joseph Steyne, Robert Eadon, Sam G...","[1970s, british army, prejudice, shootout, rac..."
7676,"['Romance', 'Drama']",451405,en,"['This', 'is', 'the', 'feature', 'pilot', 'to'...",1994-06-15,Love Street,[United States of America],"[Christina Whitaker, Anneliza Scott, Elizabeth...",[]
7677,"['Comedy', 'Drama', 'Romance']",239030,de,"['Clemens', 'works', 'as', 'a', 'masseur,', 'L...",2014-03-27,Love Steaks,[Germany],"[Lana Cooper, Franz Rogowski, Kerstin Abendrot...","[hotel, alcoholism, coming of age, chef, luxur..."
7678,"['Drama', 'Comedy']",847371,te,"['A', 'trickster', 'blackmails', 'a', 'trio', ...",1992-02-08,Golmaal Govindam,[India],"[Rajendra Prasad, Giri Babu, Gollapudi Maruti ...",[]

In [62]:
small_df = df.iloc[:20]

In [43]:
import time

In [63]:
small_df

,genre_ids,id,original_language,overview,release_date,title
0,"['Action', 'Comedy', 'Crime']",1168190,en,"['Estranged', 'half-brothers', 'Jonny', 'and',...",2026-01-28,The Wrecking Crew
1,"['Adventure', 'Thriller', 'Science Fiction']",840464,en,"['Having', 'found', 'the', 'safety', 'of', 'th...",2026-01-07,Greenland 2: Migration
2,"['Animation', 'Comedy', 'Adventure', 'Family',...",1084242,en,"['After', 'cracking', 'the', 'biggest', 'case'...",2025-11-26,Zootopia 2
3,"['Action', 'Crime', 'Drama', 'Thriller']",1419406,zh,"['Macau', 'Police', 'brings', 'the', 'tracking...",2025-08-16,The Shadow's Edge
4,"['Mystery', 'Thriller']",1368166,en,"['Trying', 'to', 'escape', 'her', 'past,', 'Mi...",2025-12-18,The Housemaid
5,"['Action', 'Crime', 'Thriller']",1601243,en,"['After', 'retiring', 'from', 'the', 'police',...",2026-01-09,Oscar Shaw
6,"['Action', 'Crime', 'Romance']",1271895,zh,"['Former', 'bomb', 'disposal', 'expert,', 'Son...",2025-09-05,96 Minutes
7,"['Mystery', 'Thriller', 'Action']",1310568,en,"['1934.', 'Private', 'detective', 'Miranda', '...",2025-11-14,Murder at the Embassy
8,"['Adventure', 'Comedy', 'Horror']",1234731,en,"['A', 'group', 'of', 'friends', 'facing', 'mid...",2025-12-24,Anaconda
9,['Action'],1584215,en,"['A', 'CIA-trained', 'assassin', 'recruits', '...",2026-01-13,The Internship
10,"['Science Fiction', 'Adventure', 'Fantasy']",83533,en,"['In', 'the', 'wake', 'of', 'the', 'devastatin...",2025-12-17,Avatar: Fire and Ash
11,"['Action', 'Science Fiction', 'Adventure']",1242898,en,"['Cast', 'out', 'from', 'his', 'clan,', 'a', '...",2025-11-05,Predator: Badlands
12,"['Action', 'Thriller', 'Crime']",1306368,en,"['Trust', 'frays', 'when', 'a', 'team', 'of', ...",2026-01-13,The Rip
13,"['Animation', 'Family', 'Drama']",1167307,en,"['From', 'the', 'songs', 'of', 'his', 'mother’...",2025-12-14,David
14,"['Science Fiction', 'Thriller']",755898,en,"['Will', 'Radford', 'is', 'a', 'top', 'analyst...",2025-07-29,War of the Worlds
15,"['Horror', 'Thriller', 'Comedy']",1198994,en,"['Two', 'colleagues', 'become', 'stranded', 'o...",2026-01-22,Send Help
16,"['Action', 'Crime', 'Thriller']",1290821,en,"['A', 'man', 'living', 'in', 'self-imposed', '...",2026-01-28,Shelter
17,"['Action', 'Fantasy', 'Thriller']",1043197,en,"['Ten-year-old', 'Aurora', 'asks', 'her', 'hit...",2025-12-11,Dust Bunny
18,['Horror'],1454741,en,"['A', 'woman', 'finds', 'her', 'late', 'father...",2026-01-08,The Confession
19,"['Horror', 'Science Fiction']",1116201,en,"['The', 'stars', 'are', 'gone.', 'The', 'plane...",2026-01-29,Iron Lung

In [65]:
start = time.time()



MAX_WORKERS = 10

with ThreadPoolExecutor(max_workers=MAX_WORKERS) as executor:
    results = list(executor.map(additional_info, small_df['id']))

small_df[['production_countries', 'cast', 'keywords']] = pd.DataFrame(results)
end = time.time()
print(start-end)

-1.4965362548828125

C:\Users\saket\AppData\Local\Temp\ipykernel_30164\586367991.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df[['production_countries', 'cast', 'keywords']] = pd.DataFrame(results)
C:\Users\saket\AppData\Local\Temp\ipykernel_30164\586367991.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df[['production_countries', 'cast', 'keywords']] = pd.DataFrame(results)
C:\Users\saket\AppData\Local\Temp\ipykernel_30164\586367991.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df[['production_countries', 'cast', 'keywords']] = pd.DataFrame(results)

In [49]:
end-start

9.212811708450317

In [66]:
small_df

,genre_ids,id,original_language,overview,release_date,title,production_countries,cast,keywords
0,"['Action', 'Comedy', 'Crime']",1168190,en,"['Estranged', 'half-brothers', 'Jonny', 'and',...",2026-01-28,The Wrecking Crew,"[United States of America, Canada]","[Dave Bautista, Jason Momoa, Temuera Morrison,...","[reunion, helicopter chase, brother brother re..."
1,"['Adventure', 'Thriller', 'Science Fiction']",840464,en,"['Having', 'found', 'the', 'safety', 'of', 'th...",2026-01-07,Greenland 2: Migration,"[United Kingdom, United States of America]","[Gerard Butler, Morena Baccarin, Roman Griffin...","[natural disaster, shelter, survival, disaster..."
2,"['Animation', 'Comedy', 'Adventure', 'Family',...",1084242,en,"['After', 'cracking', 'the', 'biggest', 'case'...",2025-11-26,Zootopia 2,"[United States of America, Canada]","[Ginnifer Goodwin, Jason Bateman, Ke Huy Quan,...","[snake, bunny, fox, cop, sequel, anthropomorph..."
3,"['Action', 'Crime', 'Drama', 'Thriller']",1419406,zh,"['Macau', 'Police', 'brings', 'the', 'tracking...",2025-08-16,The Shadow's Edge,"[China, Hong Kong]","[Jackie Chan, Zhang Zifeng, Tony Leung Ka-fai,...",[excited]
4,"['Mystery', 'Thriller']",1368166,en,"['Trying', 'to', 'escape', 'her', 'past,', 'Mi...",2025-12-18,The Housemaid,[United States of America],"[Sydney Sweeney, Amanda Seyfried, Brandon Skle...","[based on novel or book, psychological thrille..."
5,"['Action', 'Crime', 'Thriller']",1601243,en,"['After', 'retiring', 'from', 'the', 'police',...",2026-01-09,Oscar Shaw,[],"[Michael Jai White, Tyrese Gibson, Isaiah Wash...",[]
6,"['Action', 'Crime', 'Romance']",1271895,zh,"['Former', 'bomb', 'disposal', 'expert,', 'Son...",2025-09-05,96 Minutes,[Taiwan],"[Austin Lin, Vivian Sung, Edison Wang, Lee Lee...",[]
7,"['Mystery', 'Thriller', 'Action']",1310568,en,"['1934.', 'Private', 'detective', 'Miranda', '...",2025-11-14,Murder at the Embassy,"[United Kingdom, United States of America]","[Mischa Barton, Richard Dillane, Mido Hamada, ...","[whodunit, u.s. embassy, murder mystery]"
8,"['Adventure', 'Comedy', 'Horror']",1234731,en,"['A', 'group', 'of', 'friends', 'facing', 'mid...",2025-12-24,Anaconda,[United States of America],"[Jack Black, Paul Rudd, Steve Zahn, Thandiwe N...","[snake, animal attack, amazon rainforest, film..."
9,['Action'],1584215,en,"['A', 'CIA-trained', 'assassin', 'recruits', '...",2026-01-13,The Internship,[United States of America],"[Lizzy Greene, Megan Boone, Sky Katz, Philip W...",[]
10,"['Science Fiction', 'Adventure', 'Fantasy']",83533,en,"['In', 'the', 'wake', 'of', 'the', 'devastatin...",2025-12-17,Avatar: Fire and Ash,[United States of America],"[Sam Worthington, Zoe Saldaña, Sigourney Weave...","[witch, clone, space war, tribe, sequel, alien..."
11,"['Action', 'Science Fiction', 'Adventure']",1242898,en,"['Cast', 'out', 'from', 'his', 'clan,', 'a', '...",2025-11-05,Predator: Badlands,[United States of America],"[Elle Fanning, Dimitrius Schuster-Koloamatangi...","[survival, outcast, alien planet, team up, exc..."
12,"['Action', 'Thriller', 'Crime']",1306368,en,"['Trust', 'frays', 'when', 'a', 'team', 'of', ...",2026-01-13,The Rip,[United States of America],"[Matt Damon, Ben Affleck, Steven Yeun, Teyana ...","[miami, florida, police, investigation, shooto..."
13,"['Animation', 'Family', 'Drama']",1167307,en,"['From', 'the', 'songs', 'of', 'his', 'mother’...",2025-12-14,David,"[United States of America, South Africa]","[Brandon Engman, Brian Stivale, Shahar Taboch,...","[bible, musical, prophet, david vs. goliath, i..."
14,"['Science Fiction', 'Thriller']",755898,en,"['Will', 'Radford', 'is', 'a', 'top', 'analyst...",2025-07-29,War of the Worlds,[United States of America],"[Ice Cube, Eva Longoria, Clark Gregg, Iman Ben...","[government, attack, privacy, surveillance, cy..."
15,"['Horror', 'Thriller', 'Comedy']",1198994,en,"['Two', 'colleagues', 'become', 'stranded', 'o...",2026-01-22,Send Help,[United States of America],"[Rachel McAdams, Dylan O'Brien, Edyll Ismail, ...","[bullying, role reversal, survival, struggle f..."
16,"['Action', 'Crime', 'Thriller']",1290821,en,"['A', 'man', 'living', 'in', 'self-imposed', '...",2026-01-28,Shelter,"[United States of America, United Kingdom]","[Jason Statham, Bodhi Rae Breathnach, Michael ...","[ghosts of the past, solitary life]"
17,"['Action', 'Fantasy', 'Thriller']",1043197,en,"['Ten-year-old', 'Aurora', 'asks', 'her', 'hit...",2025-12-11,Dust Bunny,"[United States of America, Canada, Hungary]","[Mads Mikkelsen, Sophie Sloan, Sigourney Weave...","[murder mystery, monster under the bed]"
18,['Horror'],1454741,en,"['A', 'woman', 'finds', 'her', 'late', 'father...",2026-01-08,The Confession,[United States of America],"[Italia Ricci, Scott Mechlowicz, Zachary Golin...","[grave, haunted house, possession, tragic, pos..."
19,"['Horror', 'Science Fiction']",1116201,en,"['The', 'stars', 'are', 'gone.', 'The', 'plane...",2026-01-29,Iron Lung,[United States of America],"[Mark Fischbach, Caroline Kaplan, Troy Baker, ...","[future, moon, submarine, expedition, post-apo..."

In [12]:
df.to_csv('all_features.csv',index = False)

# Processing Completed Data

In [24]:
import pandas as pd
import numpy as np
import ast

In [17]:
df = pd.read_csv('all_features.csv')

In [18]:
df = df.drop(['original_language'],axis=1)

In [19]:
df

,genre_ids,id,overview,release_date,title,production_countries,cast,keywords
0,"['Action', 'Comedy', 'Crime']",1168190,"['Estranged', 'half-brothers', 'Jonny', 'and',...",2026-01-28,The Wrecking Crew,"['United States of America', 'Canada']","['Dave Bautista', 'Jason Momoa', 'Temuera Morr...","['reunion', 'helicopter chase', 'brother broth..."
1,"['Adventure', 'Thriller', 'Science Fiction']",840464,"['Having', 'found', 'the', 'safety', 'of', 'th...",2026-01-07,Greenland 2: Migration,"['United Kingdom', 'United States of America']","['Gerard Butler', 'Morena Baccarin', 'Roman Gr...","['natural disaster', 'shelter', 'survival', 'd..."
2,"['Animation', 'Comedy', 'Adventure', 'Family',...",1084242,"['After', 'cracking', 'the', 'biggest', 'case'...",2025-11-26,Zootopia 2,"['United States of America', 'Canada']","['Ginnifer Goodwin', 'Jason Bateman', 'Ke Huy ...","['snake', 'bunny', 'fox', 'cop', 'sequel', 'an..."
3,"['Action', 'Crime', 'Drama', 'Thriller']",1419406,"['Macau', 'Police', 'brings', 'the', 'tracking...",2025-08-16,The Shadow's Edge,"['China', 'Hong Kong']","['Jackie Chan', 'Zhang Zifeng', 'Tony Leung Ka...",['excited']
4,"['Mystery', 'Thriller']",1368166,"['Trying', 'to', 'escape', 'her', 'past,', 'Mi...",2025-12-18,The Housemaid,['United States of America'],"['Sydney Sweeney', 'Amanda Seyfried', 'Brandon...","['based on novel or book', 'psychological thri..."
...,...,...,...,...,...,...,...,...
7674,"['Comedy', 'Drama']",684689,"['In', '1994,', 'a', 'closeted', 'teen', 'stru...",2024-07-01,Dramarama,['United States of America'],"['Megan Suri', 'Nico Greetham', 'Anna Grace Ba...","['lgbt', 'gay theme']"
7675,"['Drama', 'War', 'History']",523580,"['Just', 'outside', 'Belfast', 'in', '1974,', ...",2018-07-14,Night Shadows,"['Ireland', 'United Kingdom']","['Tom Sharp', 'Joseph Steyne', 'Robert Eadon',...","['1970s', 'british army', 'prejudice', 'shooto..."
7676,"['Romance', 'Drama']",451405,"['This', 'is', 'the', 'feature', 'pilot', 'to'...",1994-06-15,Love Street,['United States of America'],"['Christina Whitaker', 'Anneliza Scott', 'Eliz...",[]
7677,"['Comedy', 'Drama', 'Romance']",239030,"['Clemens', 'works', 'as', 'a', 'masseur,', 'L...",2014-03-27,Love Steaks,['Germany'],"['Lana Cooper', 'Franz Rogowski', 'Kerstin Abe...","['hotel', 'alcoholism', 'coming of age', 'chef..."
7678,"['Drama', 'Comedy']",847371,"['A', 'trickster', 'blackmails', 'a', 'trio', ...",1992-02-08,Golmaal Govindam,['India'],"['Rajendra Prasad', 'Giri Babu', 'Gollapudi Ma...",[]

In [27]:
df['production_countries'] = df['production_countries'].apply(lambda x : [i.replace(" ","") for i in ast.literal_eval(x)])
df['cast'] = df['cast'].apply(lambda x : [i.replace(" ","") for i in ast.literal_eval(x)])
df['keywords'] = df['keywords'].apply(lambda x : [i.replace(" ","") for i in ast.literal_eval(x)])

In [33]:
df['genre_ids'] = df['genre_ids'].apply(ast.literal_eval)
df['overview'] = df['overview'].apply(ast.literal_eval)

In [34]:
df

,genre_ids,id,overview,release_date,title,production_countries,cast,keywords
0,"[Action, Comedy, Crime]",1168190,"[Estranged, half-brothers, Jonny, and, James, ...",2026-01-28,The Wrecking Crew,"[UnitedStatesofAmerica, Canada]","[DaveBautista, JasonMomoa, TemueraMorrison, Mo...","[reunion, helicopterchase, brotherbrotherrelat..."
1,"[Adventure, Thriller, Science Fiction]",840464,"[Having, found, the, safety, of, the, Greenlan...",2026-01-07,Greenland 2: Migration,"[UnitedKingdom, UnitedStatesofAmerica]","[GerardButler, MorenaBaccarin, RomanGriffinDav...","[naturaldisaster, shelter, survival, disaster,..."
2,"[Animation, Comedy, Adventure, Family, Mystery]",1084242,"[After, cracking, the, biggest, case, in, Zoot...",2025-11-26,Zootopia 2,"[UnitedStatesofAmerica, Canada]","[GinniferGoodwin, JasonBateman, KeHuyQuan, For...","[snake, bunny, fox, cop, sequel, anthropomorph..."
3,"[Action, Crime, Drama, Thriller]",1419406,"[Macau, Police, brings, the, tracking, expert,...",2025-08-16,The Shadow's Edge,"[China, HongKong]","[JackieChan, ZhangZifeng, TonyLeungKa-fai, CiSha]",[excited]
4,"[Mystery, Thriller]",1368166,"[Trying, to, escape, her, past,, Millie, Callo...",2025-12-18,The Housemaid,[UnitedStatesofAmerica],"[SydneySweeney, AmandaSeyfried, BrandonSklenar...","[basedonnovelorbook, psychologicalthriller, ho..."
...,...,...,...,...,...,...,...,...
7674,"[Comedy, Drama]",684689,"[In, 1994,, a, closeted, teen, struggles, to, ...",2024-07-01,Dramarama,[UnitedStatesofAmerica],"[MeganSuri, NicoGreetham, AnnaGraceBarlow, Zak...","[lgbt, gaytheme]"
7675,"[Drama, War, History]",523580,"[Just, outside, Belfast, in, 1974,, a, British...",2018-07-14,Night Shadows,"[Ireland, UnitedKingdom]","[TomSharp, JosephSteyne, RobertEadon, SamGibbons]","[1970s, britisharmy, prejudice, shootout, raci..."
7676,"[Romance, Drama]",451405,"[This, is, the, feature, pilot, to, the, Showt...",1994-06-15,Love Street,[UnitedStatesofAmerica],"[ChristinaWhitaker, AnnelizaScott, ElizabethLa...",[]
7677,"[Comedy, Drama, Romance]",239030,"[Clemens, works, as, a, masseur,, Lara, as, a,...",2014-03-27,Love Steaks,[Germany],"[LanaCooper, FranzRogowski, KerstinAbendroth, ...","[hotel, alcoholism, comingofage, chef, luxuryh..."
7678,"[Drama, Comedy]",847371,"[A, trickster, blackmails, a, trio, of, men,, ...",1992-02-08,Golmaal Govindam,[India],"[RajendraPrasad, GiriBabu, GollapudiMarutiRao,...",[]

In [35]:
type(df['genre_ids'][0])

list

In [36]:
df['tags'] = df['overview'] +df['genre_ids'] + df['production_countries'] + df['cast'] + df['keywords']

In [37]:
df

,genre_ids,id,overview,release_date,title,production_countries,cast,keywords,tags
0,"[Action, Comedy, Crime]",1168190,"[Estranged, half-brothers, Jonny, and, James, ...",2026-01-28,The Wrecking Crew,"[UnitedStatesofAmerica, Canada]","[DaveBautista, JasonMomoa, TemueraMorrison, Mo...","[reunion, helicopterchase, brotherbrotherrelat...","[Estranged, half-brothers, Jonny, and, James, ..."
1,"[Adventure, Thriller, Science Fiction]",840464,"[Having, found, the, safety, of, the, Greenlan...",2026-01-07,Greenland 2: Migration,"[UnitedKingdom, UnitedStatesofAmerica]","[GerardButler, MorenaBaccarin, RomanGriffinDav...","[naturaldisaster, shelter, survival, disaster,...","[Having, found, the, safety, of, the, Greenlan..."
2,"[Animation, Comedy, Adventure, Family, Mystery]",1084242,"[After, cracking, the, biggest, case, in, Zoot...",2025-11-26,Zootopia 2,"[UnitedStatesofAmerica, Canada]","[GinniferGoodwin, JasonBateman, KeHuyQuan, For...","[snake, bunny, fox, cop, sequel, anthropomorph...","[After, cracking, the, biggest, case, in, Zoot..."
3,"[Action, Crime, Drama, Thriller]",1419406,"[Macau, Police, brings, the, tracking, expert,...",2025-08-16,The Shadow's Edge,"[China, HongKong]","[JackieChan, ZhangZifeng, TonyLeungKa-fai, CiSha]",[excited],"[Macau, Police, brings, the, tracking, expert,..."
4,"[Mystery, Thriller]",1368166,"[Trying, to, escape, her, past,, Millie, Callo...",2025-12-18,The Housemaid,[UnitedStatesofAmerica],"[SydneySweeney, AmandaSeyfried, BrandonSklenar...","[basedonnovelorbook, psychologicalthriller, ho...","[Trying, to, escape, her, past,, Millie, Callo..."
...,...,...,...,...,...,...,...,...,...
7674,"[Comedy, Drama]",684689,"[In, 1994,, a, closeted, teen, struggles, to, ...",2024-07-01,Dramarama,[UnitedStatesofAmerica],"[MeganSuri, NicoGreetham, AnnaGraceBarlow, Zak...","[lgbt, gaytheme]","[In, 1994,, a, closeted, teen, struggles, to, ..."
7675,"[Drama, War, History]",523580,"[Just, outside, Belfast, in, 1974,, a, British...",2018-07-14,Night Shadows,"[Ireland, UnitedKingdom]","[TomSharp, JosephSteyne, RobertEadon, SamGibbons]","[1970s, britisharmy, prejudice, shootout, raci...","[Just, outside, Belfast, in, 1974,, a, British..."
7676,"[Romance, Drama]",451405,"[This, is, the, feature, pilot, to, the, Showt...",1994-06-15,Love Street,[UnitedStatesofAmerica],"[ChristinaWhitaker, AnnelizaScott, ElizabethLa...",[],"[This, is, the, feature, pilot, to, the, Showt..."
7677,"[Comedy, Drama, Romance]",239030,"[Clemens, works, as, a, masseur,, Lara, as, a,...",2014-03-27,Love Steaks,[Germany],"[LanaCooper, FranzRogowski, KerstinAbendroth, ...","[hotel, alcoholism, comingofage, chef, luxuryh...","[Clemens, works, as, a, masseur,, Lara, as, a,..."
7678,"[Drama, Comedy]",847371,"[A, trickster, blackmails, a, trio, of, men,, ...",1992-02-08,Golmaal Govindam,[India],"[RajendraPrasad, GiriBabu, GollapudiMarutiRao,...",[],"[A, trickster, blackmails, a, trio, of, men,, ..."

In [40]:
new_df = df[['id','title','tags']]

In [41]:
new_df

,id,title,tags
0,1168190,The Wrecking Crew,"[Estranged, half-brothers, Jonny, and, James, ..."
1,840464,Greenland 2: Migration,"[Having, found, the, safety, of, the, Greenlan..."
2,1084242,Zootopia 2,"[After, cracking, the, biggest, case, in, Zoot..."
3,1419406,The Shadow's Edge,"[Macau, Police, brings, the, tracking, expert,..."
4,1368166,The Housemaid,"[Trying, to, escape, her, past,, Millie, Callo..."
...,...,...,...
7674,684689,Dramarama,"[In, 1994,, a, closeted, teen, struggles, to, ..."
7675,523580,Night Shadows,"[Just, outside, Belfast, in, 1974,, a, British..."
7676,451405,Love Street,"[This, is, the, feature, pilot, to, the, Showt..."
7677,239030,Love Steaks,"[Clemens, works, as, a, masseur,, Lara, as, a,..."
7678,847371,Golmaal Govindam,"[A, trickster, blackmails, a, trio, of, men,, ..."

In [43]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\saket\AppData\Local\Temp\ipykernel_18484\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [45]:
new_df.to_csv("final_df.csv",index=False)